
	
	
	<table>
	        <thead>
	        	<td>Username</td>
	        	<th>Niveau</th>
	            <th>Date</th>
	            <th>Points</th>
	            
	        </thead>
	
	        <tbody>
	            <tr ng-repeat="score in scores | orderBy: '-points'">
	                <td>{{ score.joueur.username }}</td>
	                <td>{{ score.niveau }}</td>
	                <td>{{ score.date |date:'dd/MM/yyyy' }}</td>
	                <td>{{ score.points }}</td>
	            </tr>
	        </tbody>
	</table>
