
\.project

\.settings/

WebContent/bower_components/angular-resource/angular-resource\.js

WebContent/bower_components/angular-resource/angular-resource\.min\.js

WebContent/bower_components/materialize/sass/components/

WebContent/bower_components/angular-resource/

*.json

*.js

*.map

*.md

*.css

*.gzip

*.txt

WebContent/bower_components/materialize/\.editorconfig

WebContent/bower_components/materialize/
